@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&family=Cormorant+Garamond:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  color: white;
  text-align: right;
}

.light {
  background-color: #1d1d1d;
  color: whitesmoke;
}

.dark {
  background-color: white;
  color: #1d1d1d;
}

.lightText {
  color: whitesmoke;
  background: none;
}

.darkText {
  color: #1d1d1d;
  background: none;
}

.darkBackground {
  background-image: radial-gradient(
    rgba(225, 225, 225, 0.1) 9%,
    transparent 9%
  );

  background-color: #1d1d1d;
}

.lightBackground {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.1) 9%,
    transparent 9%
  );

  background-color: white;
}

.menu {
  height: 90vh;
  display: flex;
  align-items: center;
}

.menu-item {
  font-size: clamp(3rem, 8vw, 4rem);
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease, margin-top 400ms ease;
}

.content {
  font-size: clamp(1rem, 4vw, 2rem);
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease, margin-top 400ms ease;
  background: none;
  margin-left: clamp(1rem, 5vw, 12rem);
}
#menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-background-pattern {
  margin-top: 5vh;
  height: 95vh;
  width: 100vw;

  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;

  transition: opacity 800ms ease, background-size 800ms ease;

}

#menu-items:hover ~ .menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

button {
  background: none;
  border: none;
  margin-left: clamp(1rem, 5vw, 12rem);
  font-size: 1rem;
  text-decoration: underline;
}

button:hover {
  opacity: 0.3;
  transition: opacity 400ms ease
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  opacity: 0.3;
  transition: opacity 800ms ease;
}

nav {
  height: 5vh;
}

.content-item {
  width: 80%;
}

.projects {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 50%;
  margin-left: clamp(1rem, 5vw, 12rem);
  padding: none;
  font-size: 1.2rem;
}

.projectItems {
  width: 100%;
  margin: 5% 0%;
  font-size: clamp(1rem, 1.5rem, 2rem);
}

